<div class="list-contents">
  <h2>譜読みの一覧</h2>
  <div class="song-list">
    <% @songs.each do |song|%>
      <span class="list-pack">
       <%=link_to(song.title, "/show/#{song.id}") %>
      </span>
    <% end%>
  </div>
</div>