<div class="top-contents">


  <div class="arrow-text">
    <span></span>
    <span></span>
    <span></span>
    <h2>アプリの説明</h2>
    <p>
      <strong>譜読みとは、初めて弾く曲を一人前に演奏できるように練習することをいいます。</strong>
      <i>
        <br>このアプリを使うことで、効率的に譜読みができ、より早く曲が演奏できるようになります。
      </i>
      <i>
        <br>また可視化することで、曲を分析できるので、音楽的な成長もみられると考えています。
     </i>
     
    
    </p>
  </div>

   <div class="arrow-art">
    <span></span>
    <span></span>
    <span></span>
    <h2>参考サイト</h2>
    <p>
     <%= link_to("作曲家検索サイト", "https://composer-search.herokuapp.com")%>
     <%= link_to("時代について", "http://tuhan-shop.net/classic/mamechishiki/ma-ongaku-no-zidaito.html")%>
     <%= link_to("調性について", "https://note.com/sakura_m/n/nf3107b2bf782")%>
     <%= link_to("構成について", "https://xn--i6q789c.com/gakuten/keishiki.html")%>
    </p>
   </div>

</div>