<div class="top-contents">


  <div class="arrow-text">
    <span></span>
    <span></span>
    <span></span>
    <h2>アプリの説明</h2>
    <p>
      <strong>このアプリを使えば、5stepだけで譜読みプランを立てられます。</strong>
      <i>
        <br>①曲の情報を入力する
      </i>
      <i>
        <br>②部分ごとに分けて、ランク（難易度）をつける
     </i>
     <i>
       <br>③目標を立てる
     </i>
     <i> 
       <br>④計画を立てる
     </i>
     <i><br>⑤「譜読みする曲の一覧」をみながら、今回のプランを楽譜に書き写す</i>
    
    </p>
  </div>

   <div class="arrow-art">
    <span></span>
    <span></span>
    <span></span>
    <h2>参考記事</h2>
    <p>
     <a src="http://tuhan-shop.net/classic/mamechishiki/ma-ongaku-no-zidaito.html">→時代について</a>
     <a src="https://note.com/sakura_m/n/nf3107b2bf782">→調性の雰囲気について</a>
     <a src="https://xn--i6q789c.com/gakuten/keishiki.html">→構成について</a>
    </p>
   </div>

</div>